@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
$main-purple: #ABA0FF;
$second-purple: #DEDBFF;

body {
  display: flex;
  flex-direction: column;
  font-family: 'Poppins';
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  
  header {
    height: 900px;
    background-image: url('../assets/img/shapeHome.svg');
    background-size: cover;
    background-repeat: no-repeat;

    .wrapper-header {
      width: 70%;
      margin: auto;
      display: flex;
      flex-direction: row;
      padding: 10rem 0;
    }

    .header-text {
      flex-direction: column;
      width: 40%;
      margin-right: 5rem;
      color: white;
      h1 {
        font-size: 46px;
      }
      .downloadButton {
        display: flex;
        margin-top: 2rem;
        button {
          display: flex;
          flex-direction: row;
          align-items: center;
          background-color: rgba($color: #FFF, $alpha: 0.8);
          border-radius: 15px;
          border: none;
          padding: .5rem 1rem;
          cursor: pointer;
          outline: none;
          &:first-child {
            margin-right: 2rem;
          }
          img {
            margin-right: 1rem;
          }
          span {
            font-size: 18px;
          }
        }
      }
      
      .header-image {
        position: relative;
        width: 60%;
        img {
          position: absolute;
          right: 0;
          width: 90%;
        }
      }
    }

  }

  p {
    font-size: 1em;
  }
  h2 {
    font-size: 1.6em;
  }
  h3 {
    font-size: 1.3em;
  }

  .app-features{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    margin: 6rem auto;
    &__card{
     width: 20%;
     text-align: center;
    }
  }
  
  .slider-tests {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url('../assets/img/shapeSlider.svg');

    h2{
      margin-top: 100px;
      margin-bottom: 0;
    }

    p {
      width: 41%;
      margin-top: 0;
      text-align: center;
      padding: 2rem;
    }

    .purpleShapeTest {
      z-index: 0;
      position: absolute;
    }

    .slider-touchPad{
      display: flex;
      justify-content: center;
      z-index: 10;
    }

    .touchPad{
      z-index: 1;
      margin-bottom: 10px;
    }

    .dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0 2px 89px 2px;
      background-color: rgba(243, 233, 255, 0.87);
      border-radius: 5px;
      display: inline-block;
      transition: background-color 0.6s ease;
      z-index: 10;
    }
    
    .active, .dot:hover {
      background-color: $main-purple;
    }

    .slideshow-container {
      max-width: 1000px;
      position: absolute;
      margin: auto;
      z-index: 10;

      .imgTests{
        margin-top: 10px;
        z-index: 10;
      }

      .mySlides:hover .textTests {
        opacity : 1
      }

      .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
      }
      
      @-webkit-keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
      }
      
      @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
      }

      .mySlides {
        display: none;
        .textTests {
          height: 96%;
          width: 100%;
          position: absolute;
          margin-top: 8px;
          background-color: #ffffffb6;
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          opacity: 0;
          transition: opacity 1s;
        }
      }

      .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 0;
        width: auto;
        margin-top: 220px;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
      }

      .next {
        right: 0;
        border-radius: 3px 0 0 3px;
      }

      .prev:hover, .next:hover {
        background-color: $main-purple;
      }
    }
    
  }

  .app-utils {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6rem;

    &__prev {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background-repeat: no-repeat;
      background-size: contain;
      width: 100%;
      height: 400px;

      &__text{
        flex-direction: column;
        width: 25%;
      }
    }

    .stats {
      background-image: url('../assets/img/shapeStats.svg');
      background-position: left;

      img {
        margin-right: 6%;
      }
    }

    .managPatient {
      background-image: url('../assets/img/shapeManagPatient.svg');
      background-position: right;

      img {
        margin-left: 6%;
      }
    }
  }

  footer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    background-image: url('../assets/img/shapeFooter.svg');
    background-repeat: no-repeat;
    background-size: cover;
    
    .wrapper-footer {
      width: 70%;
      color: white;
      margin: 3rem auto;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }

  }
}