@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
$main-purple: #ABA0FF;
$second-purple: #DEDBFF;
$grey: #3A3747;

body {
  display: flex;
  flex-direction: column;
  font-family: 'Poppins';
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  color: $grey;
  overflow-X: hidden;
  
  header {
    height: 900px;
    background-image: url('../assets/img/shapeHome.svg');
    background-size: cover;
    background-repeat: no-repeat;
    @media (max-width: 490px) {
      height: 770px;
    }

    .wrapper-header {
      width: 70%;
      margin: auto;
      display: flex;
      flex-direction: row;
      padding: 10rem 0;
      @media (max-width: 1100px) {
        padding: 3rem 0;
        justify-content: center;
        text-align: center;
      }
      @media (max-width: 830px) {
        width: 75%;
        padding: 1rem 0;
      }
      @media (max-width: 730px) {
        padding: 0;
      }
      @media (max-width: 490px) {
        width: 80%;
        margin: auto;
        padding: 3rem 0;
      }
    }

    .header-text {
      flex-direction: column;
      width: 40%;
      margin-right: 5rem;
      @media (max-width: 1100px) {
        width: 58%;
        margin-right: 0rem;
      }
      @media (max-width: 780px) {
        width: 72%;
        margin-right: 0rem;
      }
      @media (max-width: 620px) {
        width: 90%;
      }
      @media (max-width: 490px) {
        width: 100%;
      }
      h1 {
        font-size: 46px;
      }
      .downloadButton {
        display: flex;
        margin-top: 2rem;
        @media (max-width: 780px) {
          width: 100%;
          flex-direction: column;
          align-items: center;
        }
        button {
          display: flex;
          flex-direction: row;
          align-items: center;
          background-color:  rgb(245, 245, 245);
          border-radius: 15px;
          border: none;
          padding: .5rem 1rem;
          box-sizing: border-box;
          transition: all .3s ease;
          cursor: pointer;
          outline: none;
          &:hover {
            background-color: white;
            transform: scale(1.05);
          }
          @media (max-width: 780px){
            margin-bottom: 16px;
            width: 51%;
          }
          &:first-child {
            margin-right: 2rem;
            @media (max-width: 780px){
              margin-right: 0rem;
            }
          }
          img {
            margin-right: 1rem;
          }
          span {
            font-size: 18px;
          }
        }
      }
    }

    .header-image {
      position: relative;
      width: 60%;
      @media (max-width: 1100px) {
        position: absolute;
        top: 450px;
        right: 35%;
      }
      @media (max-width: 970px) {
        top: 504px;
      }
      @media (max-width: 650px) {
        top: 535px;
      }
      @media (max-width: 490px) {
        display: none;
      }
      img {
        position: absolute;
        right: 0;
        width: 90%;
        @media (max-width: 1100px) {
          width: 55%;
        }
        @media (max-width: 750px) {
          width: 65%;
          right: -6%;
        }
      }
    }
  }

  p {
    font-size: 1em;
  }
  h2 {
    font-size: 1.6em;
  }
  h3 {
    font-size: 1.3em;
  }

  .app-features{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    margin: 6rem auto;
    @media (max-width: 1100px) {
      flex-flow: row wrap;
      justify-content: center;
      margin: 1rem auto;
    }
    &__card{
      width: 20%;
      text-align: center;
      @media (max-width: 1100px) {
        width: 230px;
        margin-left: 3%;
        margin-right: 3%;
        margin-top: 10px;
      }
      @media (max-width: 700px) {
        margin-top: 30px;
      }
    }
  }
  
  .slider-tests {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
    background-image: url('../assets/img/shapeSlider.svg');
    @media (max-width: 548px) {
      background-size: cover;
    }

    h2{
      margin-top: 100px;
      margin-bottom: 0;
      @media(max-width: 1100px){
        margin-top: 48px;
      }
      @media(max-width: 548px){
        font-size: 1.5em;
      }
    }

    p {
      width: 41%;
      margin-top: 0;
      text-align: center;
      padding: 2rem;
      @media(max-width: 1100px){
        padding: 1rem;
      }
      @media(max-width: 852px){
        width: 51%;
        margin-bottom: 0;
      }
      @media(max-width: 548px){
        width: 67%;
        font-size: 0.9em;
      }
    }

    .purpleShapeTest {
      z-index: 0;
      position: absolute;
    }

    .slider-touchPad{
      display: flex;
      justify-content: center;
      z-index: 10;
    }

    .touchPad{
      z-index: 1;
      margin-bottom: 10px;
      @media(max-width: 852px){
        width: 676px;
        margin-top: 3px;
      }
      @media(max-width: 716px){
        width: 515px;
      }
      @media(max-width: 548px){
        width: 390px;
      }
      @media(max-width: 424px){
        width: 361px;
      }
    }

    .dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0 2px 89px 2px;
      background-color: rgba(243, 233, 255, 0.87);
      border-radius: 5px;
      display: inline-block;
      transition: background-color 0.6s ease;
      z-index: 10;
    }
    
    .active, .dot:hover {
      background-color: $main-purple;
    }

    .slideshow-container {
      max-width: 1000px;
      position: absolute;
      margin: auto;
      z-index: 10;

      .imgTests{
        margin-top: 10px;
        z-index: 10;
        @media(max-width: 852px){
          width: 578px;
        }
        @media(max-width: 716px){
          width: 439px;
        }
        @media(max-width: 548px){
          width: 334px;
          margin-top: 7px;
        }
        @media(max-width: 424px){
          width: 310px;
        }
      }

      .mySlides:hover .textTests {
        opacity : 1
      }

      .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
      }
      
      @-webkit-keyframes fade {
        from {opacity: .6}
        to {opacity: 1}
      }
      
      @keyframes fade {
        from {opacity: .6}
        to {opacity: 1}
      }

      .mySlides {
        display: none;
        .textTests {
          height: 96%;
          width: 100%;
          position: absolute;
          margin-top: 8px;
          background-color: #ffffffb6;
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          opacity: 0;
          transition: opacity 1s;
          @media(max-width: 548px){
            height: 94%;
          }
          h2 {
            @media(max-width: 716px){
              margin-top: 40px;
              font-size: 1.5em;
            }
            @media(max-width: 548px){
              margin-top: 20px;
              font-size: 1.4em;
            }
            @media(max-width: 424px){
              margin-top: 10px;
            }
          }
          p {
            @media(max-width: 716px){
              width: 78%;
            }
            @media(max-width: 716px){
              font-size: 0.8em;
            }
          }
        }
      }

      .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 0;
        width: auto;
        margin-top: 220px;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        @media(max-width: 852px){
          margin-top: 192px;
        }
        @media(max-width: 716px){
          margin-top: 138px;
        }
        @media(max-width: 548px){
          margin-top: 107px;
          padding: 6px;
        }
        @media(max-width: 424px){
         margin-top: 102px;
         padding: 5px;
        }
      }

      .next {
        right: 0;
        border-radius: 3px 0 0 3px;
      }

      .prev:hover, .next:hover {
        background-color: $main-purple;
      }
    }
    
  }

  .app-utils {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6rem;
    @media(max-width: 1100px){
      margin-top: 4rem;
    }
    @media(max-width: 790px){
      margin-top: 0;
    }
    @media(max-width: 630px){
      flex-direction: column;
    }

    &__prev {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background-repeat: no-repeat;
      background-size: contain;
      width: 100%;
      height: 400px;
      @media(max-width: 630px){
        flex-direction: column;
      }
      img {
        @media(max-width: 790px){
          width: 51%;
        }
        @media(max-width: 630px){
          margin-right: 0;
          width: 71%;
        }
      }

      &__text{
        width: 25%;
        @media(max-width: 790px){
          width: 30%;
        }
        @media(max-width: 630px){
          width: 90%;
          text-align: center;
        }
        h3{
          @media(max-width: 900px){
            font-size: 1.2em;
          }
          @media(max-width: 548px){
            font-size: 1.1em;
          }
        }
        p{
          @media(max-width: 900px){
            font-size: 0.95em;
          }
          @media(max-width: 548px){
            font-size: 0.9em;
          }
        }
      }
    }

    .stats {
      background-image: url('../assets/img/shapeStats.svg');
      background-position: left;

      img {
        margin-right: 6%;
        @media(max-width: 630px){
          margin-right: 0;
        }
      }
    }

    .managPatient {
      background-image: url('../assets/img/shapeManagPatient.svg');
      background-position: right;
      @media (max-width: 630px) {
        margin-top: 60px;
      }

      img {
        margin-left: 6%;
        @media(max-width: 630px){
          margin-left: 0;
        }
      }
    }
  }

  footer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    background-image: url('../assets/img/shapeFooter.svg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 5rem;
    
    .wrapper-footer {
      width: 70%;
      margin: 3rem auto;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      img {
        width: 10rem;
      }
      p{
        margin-top: -0.5rem;
        @media(max-width: 548px){
          font-size: 0.9em;
          margin-top: 0;
        }
      }
    }

  }
}